<a
  href="{{ url_for('introgad') }}"
  style="flex: 1 1 32%; text-decoration: none; color: inherit"
>
  <div
    style="
      background: #f0f8ff;
      padding: 15px 20px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      min-width: 3vw;
    "
  >
    <img
      src="photo/anxiety.png"
      alt="जि ए डि – ७ (GAD-7) for Generalized Anxiety Disorder"
      style="width: 100%; height: auto; border-radius: 8px"
    />
    <h3 style="margin-top: 12px">
      जि ए डि – ७ (GAD-7) <br />
      (Generalized Anxiety Disorder)<br />
      आफ्नो चिन्ताको (Anxiety) स्तर जाँच्न |
    </h3>
  </div>
</a>
