<a
  href="{{ url_for('introphq') }}"
  style="flex: 1 1 32%; text-decoration: none; color: inherit"
>
  <div
    style="
      background: #f0f8ff;
      padding: 15px 20px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      min-width: 3vw;
    "
  >
    <img
      src="photo/depression.png"
      alt="पि एच क्यु-९ (PHQ-9)"
      style="width: 100%; height: auto; border-radius: 8px"
    />
    <h3 style="margin-top: 12px">
      पि एच क्यु-९ (PHQ-9)
      <br />
      ( Depression Screening Tool) <br />यहाँ आफ्नो उदासी वा डिप्रेसन
      (Depression) जाँच्न
    </h3>
  </div>
</a>
