<!-- Card 3 -->
<a
  href="{{ url_for('article3') }}"
  style="flex: 1 1 27%; text-decoration: none; color: inherit"
>
  <div
    style="
      background: #d9eaff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      min-width: 0.5vw;
    "
  >
    <img
      src="photo/well.png"
      alt="मानसिक स्वास्थ्य सम्बन्धी केही नकारात्मक धारणाहरू"
      style="width: 100%; height: auto; border-radius: 8px"
    />
    <h3 style="margin-top: 5px">
      मानसिक स्वास्थ्य सम्बन्धी नकारात्मक धारणाहरू
    </h3>
  </div>
</a>
